@model db.bks_OrderDetail

@{
	ViewBag.Title = "Detail";
}


<div class="dialog">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.orderCode )
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.bookCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.costPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costPrice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.subTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.subTotal)
    </div>

    <p class="button">
        <a class="opClose">关闭</a>
    </p>
</div>

