@model db.bks_Book

@{
	ViewBag.Title = "Detail";
}


<div class="dialog">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.bookCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.bookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.isbnNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isbnNO)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.authorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.authorName)
    </div>

    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.authorIntroduce)
        </legend>
        <div style="padding:3px; text-indent:2em;line-height:3ex;">
            @Html.Raw(Model.authorIntroduce)
        </div>
    </fieldset>

    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.bookIntroduce)
        </legend>
        <div style="padding:3px; text-indent:2em;line-height:3ex;">
            @Html.Raw(Model.bookIntroduce)
        </div>
    </fieldset>

    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.bookDirectory)
        </legend>
        <div style="padding:3px; text-indent:2em;line-height:3ex;">
            @Html.Raw(Model.bookDirectory)
        </div>
    </fieldset>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.bookTypeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookTypeCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.pressCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pressCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.pressDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pressDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.release)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.release)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.surfacePic)
    </div>
    <div class="display-field" style="height:130px;">
        <img src="@Model.surfacePic" style="height:120px;" />
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.isSell)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isSell)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.stockSum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stockSum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.sellSum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sellSum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remark)
    </div>

    <fieldset>
        <legend>相关附件</legend>
        @{
            var routeValue = new
            {
                attachResourceCode = "bks_Book",  //资源标识
                attachKeyCode = Model.bookCode,  //单据主键值
                attachOpMode = "Detail"
            };
            Html.RenderAction("SelectPartial", "sys_BillAttach", routeValue);
        }

    </fieldset>

    <p class="button">
        <a class="opClose">关闭</a>
    </p>
</div>

