@model db.bks_BookStock

@{
	ViewBag.Title = "Detail";
}


<div class="dialog">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.stockCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stockCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.stockDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stockDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.userCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.supplierCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.supplierCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remark)
    </div>

    <fieldset>
        <legend>进货明细</legend>
        @Html.Action("Select", "bks_BookStockDetail",
            new { stockCode = Model.stockCode, opMode = "Detail" })
    </fieldset>


    <p class="button">
        <a class="opClose">关闭</a>
    </p>
</div>

