@model db.bks_BookStock

@{
    ViewBag.Title = "Update";
}

@section Header
{
    <script type="text/javascript">
        function SelectedBook(selectValue) {
            var stockCode = $(".selectedBook").attr("data-stockCode");
            ajaxPost("/admin/bks_BookStockDetail/batchInsert", {
                stockCode: stockCode,
                selectedBooks: selectValue
            }, function (data) {
                showJsonResult(data, function () {
                    closeDialog();
                })
            })
        }
        $(document).ready(function () {
            //新增明细方式3 点击后执行
            $(".selectedBook").click(function () {
                var stockCode = $(this).attr("data-stockCode");
                openDialog("选择图书", "/admin/select_Dlg/SelectBook?fromType=bks_BookStock&fromCode=" + stockCode,
                    window, "type2", false);
                return false;
            });
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="dialog">
        <div class="editor-label">
            @Html.LabelFor(model => model.stockCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stockCode)
            @Html.ValidationMessageFor(model => model.stockCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stockDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxDateFor(model => model.stockDate)
            @Html.ValidationMessageFor(model => model.stockDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userCode)
            @Html.ValidationMessageFor(model => model.userCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.supplierCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.supplierCode)
            @Html.ValidationMessageFor(model => model.supplierCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remark)
            @Html.ValidationMessageFor(model => model.remark)
        </div>

        <fieldset>
            <legend>进货明细</legend>
            @Html.Action("select", "bks_BookStockDetail",
                new { stockCode = Model.stockCode, opMode = "Update" })
        </fieldset>


        <p class="button">
            <a class="billSave opSave" data-close="true">保存</a>
            @Html.ActionLink("新增明细方式1", "Insert", "bks_BookStockDetail",
                new { stockCode = Model.stockCode }, new { @class = "showDialogR opInsert" })
            @Html.ActionLink("新增明细方式2", "Insert", "bks_BookStockDetail", 
                new { stockCode = Model.stockCode }, new { @class = "billOp opInsert", data_msg = "确认新增", data_reflesh = "true" })
            @Html.ActionLink("新增明细方式3", "SelectBook", "select_Dlg",
                new { fromCode = Model.stockCode, fromType = "bks_BookStock" }, new { @class = "selectedBook opInsert", data_stockCode = Model.stockCode })
            <a class="opClose">关闭</a>
        </p>
    </div>
}
