@model db.rbac_User

@{
    ViewBag.Title = "Detail";
}
<div class="dialog">
    <div class="display-label hide">
        @Html.DisplayNameFor(model => model.rowID)
    </div>
    <div class="display-field hide">
        @Html.DisplayFor(model => model.rowID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.userCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label hide">
        @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field hide">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label hide">
        @Html.DisplayNameFor(model => model.isAdmin)
    </div>
    <div class="display-field hide">
        @Html.DisplayFor(model => model.isAdmin)
    </div>

    <div class="display-label hide">
        @Html.DisplayNameFor(model => model.relatedCode)
    </div>
    <div class="display-field hide">
        @Html.DisplayFor(model => model.relatedCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.deptCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deptCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.isLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isLogin)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.remark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remark)
    </div>
    <p class="button">
        <a class="opClose">关闭</a>
    </p>
</div>
