@model db.bks_CustomerAddress

@{
    ViewBag.Title = "Update";
}

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="dialog">
    <div class="editor-label hide">
        @Html.LabelFor(model => model.rowNum)
    </div>
    <div class="editor-field hide">
        @Html.EditorFor(model => model.rowNum)
        @Html.ValidationMessageFor(model => model.rowNum)
    </div>

    <div class="editor-label hide">
        @Html.LabelFor(model => model.rowID)
    </div>
    <div class="editor-field hide">
        @Html.EditorFor(model => model.rowID)
        @Html.ValidationMessageFor(model => model.rowID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.customerCode)
    </div>
    <div class="editor-field read">
        @Html.EditorFor(model => model.customerCode)
        @Html.ValidationMessageFor(model => model.customerCode)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.addressCode)
    </div>
    <div class="editor-field read">
        @Html.EditorFor(model => model.addressCode)
        @Html.ValidationMessageFor(model => model.addressCode)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.addressName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.addressName)
        @Html.ValidationMessageFor(model => model.addressName)
    </div>


    <p class="button">
        <a class="billSave opSave" data-close="true">保存</a>
        <a class="opClose">关闭</a>
    </p>
</div>
}

