@model db.bks_Press

@{
	ViewBag.Title = "Insert";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    
	<div class="dialog">
        <div class="editor-label">
			@Html.LabelFor(model => model.pressCode)
		</div>
		<div class="editor-field">	
			@Html.EditorFor(model => model.pressCode)
			@Html.ValidationMessageFor(model => model.pressCode)
        </div>

        <div class="editor-label">
			@Html.LabelFor(model => model.pressName)
		</div>
		<div class="editor-field">	
			@Html.EditorFor(model => model.pressName)
			@Html.ValidationMessageFor(model => model.pressName)
        </div>

        <div class="editor-label">
			@Html.LabelFor(model => model.showOrder)
		</div>
		<div class="editor-field">	
			@Html.EditorFor(model => model.showOrder)
			@Html.ValidationMessageFor(model => model.showOrder)
        </div>

        <div class="editor-label">
			@Html.LabelFor(model => model.remark)
		</div>
		<div class="editor-field">	
			@Html.EditorFor(model => model.remark)
			@Html.ValidationMessageFor(model => model.remark)
        </div>

        <p class="button">
            <a class="billSave opSave" data-close="true">保存</a>
            <a class="opClose">关闭</a>
        </p>
    </div>
}
